* {
  box-sizing: border-box;
  /* padding: 0; */
  /* margin: 0; */
}

body {
  background-color: grey;
  margin: 0;
}

hr {
  background-color: white;
}

button:hover {
  font-size: 20px;
  transition: all 0.1s ease-in-out;
}

#map {
  height: 600px;
}

#banner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/Assets/images/banner-772x250.png);
}

h1 {
  color: white;
}

.label-info {
  display: inline-block;
  color: white;
  background-color: #5bc0de;
  font-size: 50%;
}
.label {
  padding: 0.2em 0.6em 0.3em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
